# Gradle local cache
.gradle/

# IDEA local cache
.idea/

# Gradle build output
**/build/

# Gradle build properties
gradle.properties

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar